* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  text-align: center;
}

header img {
  width: 70%;
  max-width: 600px;
  min-width: 400px;
}

.homeContainer{
  display: flex;
  justify-content: space-b;

}

.homeImg{
  
}