@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: #fff;
  --blueColor1: #c4d7f5;
  --blueColor2: #7492c2;
  --blueColor3: #395a8f;
  --blueColor4: #122f5c;
  --blueColor5: #001029;
  --textFont: "Roboto Slab", serif;
  --titleFont: "Titillium Web", sans-serif;
}

.logo {
  width: 70px;
  border-radius: 999px;
}

header {
  padding: 20px;
  
  max-height: 130px;
  background-color: var(--blueColor5);
  box-shadow: 0 4px 8px rgba(0, 0, 20, 1.1);
  
  
}

.image-section{

  max-width: 400px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

a {
  color: var(--textColor);
  text-shadow: 2px 2px 4px rgba(179, 177, 177, 0.8);
  font-size: 1.3em;
  letter-spacing: 3px;
  gap: 5px;
  font-family: var(--titleFont);
  text-decoration: none;
}
a:hover {
  background-color: var(--blueColor4);
  border-radius: 8px;
}
main {
  width: 80%;
  background-color: var(--blueColor4);
  margin: auto;
  height: 100vh;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
 
}

.text-section{
  border: 1px solid red;
  color: var(--textColor);
  max-width: 500px;
}

body {
  background-image: url(image/header.jpg);
}


.titulo-principal:after{
content: '|';
margin-left: 5px;
opacity: 1;
animation: pisca .7s infinite;
}


@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}
